<link rel="stylesheet" href="{% static 'blog/post.css' %}">

<li>
    <article class="post">
        <a href="{% url 'post-detail' post.slug %}">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% else %}
                <img src="{% static 'blog/images/no-image.png' %}" width="50%" alt="{{ post.title }}">
            {% endif %}
            <div class="post__content">
                <h3>{{ post.title }}</h3>
                <p>
                    {{ post.excerpt }}
                </p>
            </div>
        </a>
    </article>
</li>